#slider{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 75vh;
}

.btn-bar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #4CA74C;
    height: 6vh;
    justify-content: center;
    align-items: center;  
    flex-direction: row;
}

.prevBtn, .nextBtn, .hideBtn, .showBtn, .slideShow {
   background-color: transparent;
   border: none;
   padding: .2rem .6rem;
   cursor: pointer;
   margin: 0 .5rem;
}

.slideShow {
    font-size: 1.3rem;
    color: white;
}

.hide {
   display: none;
}

i {
    color: #fff;
}

.fa-angle-left, .fa-angle-right {
    font-size: 2rem;
}



a.link {
   padding: 10px 25px;
   background-color: #4CA74C;
   color: #fff;
   border-radius: 25px;
   text-decoration: none;
}
 

 .singleSlide {
    background-size: cover;
    height: 100%;
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
    color: #fff;
}

.pagination-0 button, .pagination-1 button, .pagination-2 button {
   position: absolute;
   cursor: pointer;
   top: 90%;
   background-color: #4CA74C;
   border: none;
   border-radius: 50%;
   color: #fff;
   font-weight: bold;
   padding: .5rem .7rem;
}
 
.pagination-0 button {
   left: 40%;
}

.pagination-1 button {
   left: 50%;
}

.pagination-2 button {
   left: 60%;
}

 /* стилі для анімації нижче */
 
 @-webkit-keyframes slideIn {
    100% { left: 0; }
 }
 
 @keyframes slideIn {
    100% { left: 0; }
 }
 
 .slideInRight {
    left: -100%;
    -webkit-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
 }
 
 .slideInLeft {
    left: 100%;
    -webkit-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
 }
 
 @-webkit-keyframes slideOutLeft {
    100% { left: -100%; }
 }
 
 @keyframes slideOutLeft {
    100% { left: -100%; }
 }
 
 .slideOutLeft {
    -webkit-animation: slideOutLeft 1s forwards;
    animation: slideOutLeft 1s forwards;
 }
 
 @-webkit-keyframes slideOutRight {
    100% { left: 100%; }
 }
 
 @keyframes slideOutRight {
    100% { left: 100%; }
 }
 
 .slideOutRight {
    -webkit-animation: slideOutRight 1s forwards;
    animation: slideOutRight 1s forwards;
 }
 