html, body {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  font-family: Sans-serif, sans-serif;
  line-height: 1.5em;
}

.footer,
.push {
  height: 65px;
}

.container {
  padding-left: 200px;
  padding-right: 190px;
  min-height: calc(100% - 80px);
  margin-bottom: -50px;
}

.container .column {
  position: relative;
  float: left;
}

.center {
  padding: 10px 20px;
  width: 100%;
}

.left {
  width: 180px;
  padding: 0 10px;
  right: 240px;
  margin-left: -100%;
}

.right {
  width: 130px;
  padding: 0 10px;
  margin-right: -100%;
}

.footer {
  clear: both;
}
.container {
  overflow: hidden;
}
.container .column {
  padding-bottom: 1001em;
  margin-bottom: -1000em;
}

.footer-wrapper {
  float: left;
  position: relative;
  width: 100%;
  background: #fff;
}

p {
  color: #555;
  padding: 1rem 0rem;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul a {
  color: darkgreen;
  text-decoration: none;
}
.header, .footer {
  font-size: large;
  padding: 0.3em;
  background: #BCCE98;
}
.header{
  height: 60px;
}

.left {
  background: #DAE9BC;
}
.right {
  background: #F7FDEB;
}
.center {
  background: #fff;
}
.container .column {
  padding-top: 1em;
}


/* My own styles */
.logo {
  height: 3rem;
  width: 3rem;
  padding: .5rem;
}

li {
  padding: .5rem 1rem;
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

table {
  border-collapse: collapse;
}

.headings > th, td {
  border: 2px solid black;
  padding: .5rem 1rem;
}

.headings {
  background-color: #555;
  color: #F7FDEB;
}

th, td {
  padding: .2rem 3rem;
}
